@import "tailwindcss";

@theme {
  --color-pitch-dark: #0A3D1E;
  --color-pitch-light: #1B5E20;
  --color-cup-gold: #D4AF37;
  --color-cup-lightgold: #F9E29C;
}

/* Custom Scrollbar Helper */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

